{% extends "layout.html" %}

{% block title %}Atualizar tarefa{% endblock %}

{% block content %}
<div class="content">
    
    <div id="form_atlz">
        <h1>Atualize sua tarefa</h1>
        <form action="{{ url_for('atualizar_tarefa', id=tarefa['trf_id']) }}" method="POST">
            <label for="novadesc">Nova Descrição</label>
            <input type="text" id="atlz" name="novadesc" value="{{ tarefa['trf_descricao'] }}" required><br>
        
            <label for="novostatus" >Novo Status</label>
            <select name="novostatus" id="atlz" required>
                <option value="Concluida" {% if tarefa.trf_status == 'Concluida' %}selected{% endif %}>Concluída</option>
                <option value="Em_andamento" {% if tarefa.trf_status == 'Em_andamento' %}selected{% endif %}>Em andamento</option>
                <option value="Pendente" {% if tarefa.trf_status == 'Pendente' %}selected{% endif %}>Pendente</option>
            </select><br>
        
            <label for="novoprazo">Novo Prazo</label>
            <input type="datetime-local" id="atlz" name="novoprazo" value="{{ tarefa['trf_data_limite'] }}" required><br>
        
            <button type="submit" id="botao_atlz" onclick="return confirm ('Você tem certeza que deseja atualizar essa tarefa?')">Atualizar Tarefa</button>
        </form>   
    </div>
</div>
{% endblock %}