<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Título Padrão{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}"> 
</head>
<body>
    <div class="menu">
        <nav class="navbar">
            <ul class="nav-list">
                <li><a href="{{ url_for('index') }}">Home</a></li>
                <li><a href="{{ url_for('cadastro') }}">Cadastro de Usuário</a></li>
                <li><a href="{{ url_for('add_trf') }}">Adicionar Tarefa</a></li>
                <li><a href="{{ url_for('listar_trf') }}">Listar Tarefas</a></li>
                {% if current_user.is_authenticated %}
                <li><a href="{{ url_for('logout') }}">Logout</a></li>
                {% else %}
                <li><a href="{{ url_for('login') }}">Login</a></li>
                {% endif %}
            </ul>
        </nav>
    </div>

    <div class="container">
        {% block content %}
        <!-- Conteúdo -->
        {% endblock %}
    </div>

</body>
</html>
