{% extends "layout.html" %}

{% block title %}Login{% endblock %}

{% block content %}
    <div class="content">
        <div id="form_cd">
            <h1>Login</h1>
            <form action="{{url_for('login')}}" method="POST">
                <label for="email">E-mail</label>
                <input type="email" name="email" id="login"><br>
                
                <label for="password">Senha</label>
                <input type="password" name="pass" id="login"><br>

                <input type="submit" value="Enviar" id="botao">
            </form>
        </div>
    </div>

{% endblock %}

